<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>Security Web Application</display-name>
	
<!-- 	<security-constraint> -->
<!-- 		<web-resource-collection> -->
<!-- 			<web-resource-name>UpdateRecipes</web-resource-name> -->
<!-- 			<url-pattern>/_07/*</url-pattern> -->
<!-- 		</web-resource-collection> -->
<!-- 		<auth-constraint> -->
<!-- 			<role-name>supervisor</role-name> -->
<!-- 		</auth-constraint> -->
<!-- 		<user-data-constraint> -->
<!-- 			<transport-guarantee>NONE</transport-guarantee> -->
<!-- 		</user-data-constraint> -->
<!-- 	</security-constraint> -->
<!-- 	<security-constraint> -->
<!-- 		<web-resource-collection> -->
<!-- 			<web-resource-name>UpdateRecipes</web-resource-name> -->
<!-- 			<url-pattern>/_08/*</url-pattern> -->
<!-- 		</web-resource-collection> -->
<!-- 		<auth-constraint> -->
<!-- 			<role-name>agent</role-name> -->
<!-- 		</auth-constraint> -->
<!-- 		<user-data-constraint> -->
<!-- 			<transport-guarantee>NONE</transport-guarantee> -->
<!-- 		</user-data-constraint> -->
<!-- 	</security-constraint> -->
<!-- 	<security-constraint> -->
<!-- 		<web-resource-collection> -->
<!-- 			<web-resource-name>UpdateRecipes</web-resource-name> -->
<!-- 			<url-pattern>/_09/*</url-pattern> -->
<!-- 		</web-resource-collection> -->
<!-- 		<auth-constraint> -->
<!-- 			<role-name>agent</role-name> -->
<!-- 			<role-name>supervisor</role-name> -->
<!-- 		</auth-constraint> -->
<!-- 		<user-data-constraint> -->
<!-- 			<transport-guarantee>NONE</transport-guarantee> -->
<!-- 		</user-data-constraint> -->
<!-- 	</security-constraint> -->
	
<!-- 	<login-config> -->
<!-- 		<auth-method>BASIC</auth-method> -->
<!-- 	</login-config> -->
<!-- 	<security-role> -->
<!-- 		<role-name>agent</role-name> -->
<!-- 	</security-role> -->
<!-- 	<security-role> -->
<!-- 		<role-name>supervisor</role-name> -->
<!-- 	</security-role> -->
	
</web-app>